body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

header {
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  padding: 40px 10px;
}

h1 {
  color: white;
  font-family: monospace;
  margin: 0 auto;
  font-size: 35px;
}

nav {
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  width: 10vw;
  min-width: 60px;
  font-family: monospace;
  font-size: 22px;
  margin: 0;
}

 a {
   color: white;
 }

 a:hover {
   color: lime;
 }

section {
  display: inline-flex;
  margin: 0;
  background: url('../images/solar_system.jpg');
  background-size: cover;
  width: 89vw;
  padding: 0;
  height: 600px;
}

.planet-details {
  display: inline-flex;
  margin: 0;
  background-size: cover;
  width: 89vw;
  padding: 0;
  height: 600px;
}

h2 {
  color: white;
  margin-left: 60px;
}

p {
  margin: 0 auto;
}

li {
  color: white;
}
